html {
  color: #000;
  background: #fff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: Microsoft YaHei,Arial,sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: none;
}
.cur {
  cursor: pointer;
}
.mr {
  margin-right: 5px;
}
.mb {
  margin-bottom: 5px;
}
.tr {
  text-align: center;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea{
  font-family: Microsoft YaHei,Arial,sans-serif;
}

.el-tooltip__popper{
  max-width: 500px;
}
.el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-select-dropdown__wrap,.el-cascader-menu__wrap{
  margin-bottom: 0 !important;
}
.el-cascader__dropdown{
  max-width: 90%;
}
.el-checkbox{
  display: flex;
  position: relative;
  white-space: break-spaces;
  .el-checkbox__input{
    margin-top: 3px;
  }
}
.van-toast {
  z-index: 9997!important
}

.el-select {
  width: 100%;
}

// ! 操作按钮
.operation-item {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  text-align: center;
  line-height: 23px;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px #e4e4e4 solid;
  background: #f8f8f8;
}
.operation-item i {
  font-size: 12px;
}
.operation-item:last-of-type {
  margin-right: 0;
}
.operation-view-content,
.operation-item:hover {
  color: #fff;
}
.operation-edit:hover {
  border: 1px #67c23a solid;
  background: #67c23a;
}
.operation-view:hover {
  border: 1px #409EFF solid;
  background: #409EFF;
}
.operation-delete:hover {
  border: 1px #f56c6c solid;
  background: #f56c6c;
}
.operation-info:hover,
.operation-view-content {
  border: 1px #ebb563 solid;
  background: #ebb563;
}

.operation-tag {
  font-size: 12px;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: underline;
}
.operation-tag i {
  text-decoration: underline;
}

.operation-tag-success {
  color: rgb(0,180,42);
  background: rgb(232,255,234);
}
.operation-tag-primary {
  color: rgb(64, 158, 255);
  background: rgb(236, 245, 255);
}
.van-overlay {
  z-index: 9999;
}
